{% extends "index.html" %}
{% block pagename %}
    <a href="feed">FEED</a>
    <a href="my_abominations">MY-ABOMINATIONS</a>
    <a href="create_abomination">CREATE-ABOMINATION</a>
    <a href="logout">LOGOUT</a>
    <text>abomination</text>
{% endblock %}
{% block funny_logo %} <h1>{{abom[0]}}</h1> {% endblock %}
{% block page_content %}
<div class="abomination__container">
    <p>gender:  {{abom[1]}}</p>
    <p>  head:  {{abom[2]}}</p>
    <p>   eye:  {{abom[3]}}</p>
    <p>  body:  {{abom[4]}}</p>
    <p>   arm:  {{abom[5]}}</p>
    <p>   leg:  {{abom[6]}}</p>
</div>
{% endblock %}
