<!DOCTYPE html>
<html lang="ru">
    <header class="page-header">
        <div class="page-header__container">
            <nav class="page-header__nav">
                <a href="feed.html" class="page-header__nav-link feed">Feed</a>
                <a href="#" class="page-header__nav-link reglog">Выйти</a> <!--тут хз на что именно ссылку делать-->
            </nav>
        </div>
    </header>

    <div class="main">
        <div class="abomination">
            <article class="abomination__list">
                <a href="#" class="abomination__list link"></a>
                <h2 class="abomination__title">Кто-то уже сделал это!</h2>
            </article>
            <div class="abomination__container"></div>
        </div><!--тут проблема как и в feed-->
    </div>
</html>