<head>
    <link rel="stylesheet" href="../static/styles/unpleasant.css">
</head>
{% extends "index.html" %}
{% block pagename %}
    <a href="../feed">FEED</a>
    <a href="../my_abominations">MY-ABOMINATIONS</a>
    <a href="../create_abomination">CREATE-ABOMINATION</a>
    <a href="../logout">LOGOUT</a>
    <text>abomination</text>
{% endblock %}
{% block funny_logo %} <h1>{{abom[0]}}</h1> {% endblock %}
{% block page_content %}
<div class="abomination">
    <p>gender:  {{abom[1]}} </p>
    <p>  head:  {{abom[2]}} <img src="../static/images/head/{{pic[0]}}.gif"></p>
    <p>   eye:  {{abom[3]}} <img src="../static/images/eye/{{pic[1]}}.gif"></p>
    <p>  body:  {{abom[4]}} <img src="../static/images/body/{{pic[2]}}.gif"></p>
    <p>   arm:  {{abom[5]}} <img src="../static/images/arm/{{pic[3]}}.gif"></p>
    <p>   leg:  {{abom[6]}} <img src="../static/images/leg/{{pic[4]}}.gif"></p>
</div>
{% endblock %}
