<!DOCTYPE html>
<html lang="ru">

<body class="body">
  <div class="create">
    <div class="page-header-create">
      <link rel="stylesheet" href="static/styles/styles.min.css">
      <nav class="page-header__nav">
        <a href="feed" class="page-header__nav-link feed">Feed</a>
        <a href="logout" class="page-header__nav-link exit">Выйти</a>
      </nav>
    </div>
    <div class="create">
      <article class="create__words">
        <a href="abomination" class="create__list link"></a>
        <h2 class="words__title">Сделай сам и покажи всем!</h2>
        <h2 class="words__text">Или не показывай...</h2>
      </article>


      <div class="create__container">

        <form action="{{ url_for('create_abomination') }}" method="post" class="create__list">
          <div class="create__list">

            <div class="create__field name">
              <label class="create__title">
                <input type="text" class="field__input" name="name" placeholder="Name" />
              </label>
            </div>

            <div class="create__field name">
              <label class="create__title">
                <input type="text" class="field__input" name="gender" placeholder="Gender" required />
              </label>
            </div>

            <div class="create__field select">
              <select name="head" class="create__select">
                <option value="head" disabled selected hidden>Head</option>
                {% for head in heads %}
                <option value="{{head[2]}}">{{head[1]}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="create__field select">
              <select name="eye" class="create__select">
                <option value="eye" disabled selected hidden>Eye</option>
                {% for eye in eyes %}
                <option value="{{eye[2]}}">{{eye[1]}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="create__field select">
              <select name="body" class="create__select">
                <option value="body" disabled selected hidden>Body</option>
                {% for body in bodies %}
                <option value="{{body[2]}}">{{body[1]}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="create__field select">
              <select name="arm" class="create__select">
                <option value="arm" disabled selected hidden>Arm</option>
                {% for arm in arms %}
                <option value="{{arm[2]}}">{{arm[1]}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="create__field select">
              <select name="leg" class="create__select">
                <option value="leg" disabled selected hidden>Leg</option>
                {% for leg in legs %}
                <option value="{{leg[2]}}">{{leg[1]}}</option>
                {% endfor %}
              </select>
            </div>

            <label class="create__check">
              <span class="check__label">Private</span>
              <input type="checkbox" class="check__input" name="is_private" value="True"/>
              <span class="check__mark"></span>
            </label>
            <input type="submit" class="create__submit" value="Создать">

        </form>
      </div>
    </div>
  </div>




</html>
</body>