<!DOCTYPE html>
<html lang="ru">

<body class="body">
  <div class="create">
    <div class="page-header-create">
      <link rel="stylesheet" href="styles/styles.min.css">
      <nav class="page-header__nav">
        <a href="feed.html" class="page-header__nav-link feed">Feed</a>
        <a href="index.html" class="page-header__nav-link exit">Выйти</a>
      </nav>
    </div>
    <div class="create">
      <article class="create__words">
        <a href="abomination.html" class="create__list link"></a>
        <h2 class="words__title">Сделай сам и покажи всем!</h2>
        <h2 class="words__text">Или не показывай...</h2>
      </article>


      <div class="create__container">

        <form action="{{ url_for('  ') }}" method="post" class="create__list">
          <div class="create__list">

            <div class="create__field name">
              <label class="create__title">
                <input type="text" class="field__input" name="name" placeholder="Name" />
              </label>
            </div>

            <div class="create__field name">
              <label class="create__title">
                <input type="text" class="field__input" name="gender" placeholder="Gender" required />
              </label>
            </div>

            <div class="create__field select">
              <select name="part" class="create__select">
                <option value="" disabled selected hidden>Head</option>
                <option value="1">Придумай</option>
                <option value="2">Придумай1</option>
                <option value="3">Придумай2</option>
              </select>
            </div>

            <div class="create__field select">
              <select name="part" class="create__select">
                <option value="" disabled selected hidden>Eye</option>
                <option value="1">Придумай</option>
                <option value="2">Придумай1</option>
                <option value="3">Придумай2</option>
              </select>
            </div>

            <div class="create__field select">
              <select name="part" class="create__select">
                <option value="" disabled selected hidden>Body</option>
                <option value="1">Придумай</option>
                <option value="2">Придумай1</option>
                <option value="3">Придумай2</option>
              </select>
            </div>

            <div class="create__field select">
              <select name="part" class="create__select">
                <option value="" disabled selected hidden>Arm</option>
                <option value="1">Придумай</option>
                <option value="2">Придумай1</option>
                <option value="3">Придумай2</option>
              </select>
            </div>

            <div class="create__field select">
              <select name="part" class="create__select">
                <option value="" disabled selected hidden>Leg</option>
                <option value="1">Придумай</option>
                <option value="2">Придумай1</option>
                <option value="3">Придумай2</option>
              </select>
            </div>

            <label class="create__check">
              <span class="check__label">Private</span>
              <input type="checkbox" class="check__input" name="private" />
              <span class="check__mark"></span>
            </label>
            <input type="submit" class="create__submit" value="Создать">

        </form>
      </div>
    </div>
  </div>




</html>
</body>