<!DOCTYPE html>
<html lang="ru">

<body class="body">
  <header class="page-header">
    <link rel="stylesheet" href="static/styles/styles.min.css">
    <div class="page-header__container">
      <nav class="page-header__nav">
        <a href="feed" class="page-header__nav-link feed">Feed</a>
        <a href="my_abominations" class="page-header__nav-link abomin">Мои заметки</a>
        <a href="create_abomination" class="page-header__nav-link comment">Создать заметку</a>
        <a href="logout" class="page-header__nav-link exit">Выйти</a>
      </nav>
    </div>
  </header>
  <div class="main">
    <h2 class="feed__title">Кто-то уже сделал это!</h2>
    <div class="feed__abomination">
      <div class="abomination__container" id="abomination__container"></div>
    </div>
  </div>



</body>

</html>