{% extends "index.html" %}
{% block pagename %}
    <a href="feed">FEED</a>
    <a href="my_abominations">MY-ABOMINATIONS</a>
    <a href="create_abomination">CREATE-ABOMINATION</a>
    <a href="logout">LOGOUT</a>
    <text>feed</text>
{% endblock %}
{% block funny_logo %} <h1>FEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEED</h1> {% endblock %}
{% block page_content %}
<div class="feed_abomination">
    {% for item in feed %}
    <div class="abomination_container" id="abomination_container">
        <a href="abomination/{{item[0]}}">{{item[1]}}. {{item[2]}}</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
