<!DOCTYPE html>
<html lang="ru">

<header class="page-header">
  <div class="page-header__container">
    <nav class="page-header__nav">
      <a href="feed" class="feed">Feed</a>
      <a href="register" class="reg">Зарегистрироваться</a>
      <a href="login" class="log">Войти</a>
    </nav>
  </div>
</header>

<body class="body">
  <link rel="stylesheet" href="static/styles/styles.min.css">

  <body class="main">
    <main class="main">

      <div class="header">
        <h1 class="header__title">Добро пожаловать на сайт</h1>
        <br>
        <picture class="header__picture"></picture>
        <br>
        <h2 class="header__text">Попробуй сделать сам!</h2>
      </div>

      <div class="about">
        <div class="about__rectangle"></div>
        <div class="about__rectangle1"></div>
        <h2 class="about__text">Не бойтесь заявить миру о своих идеях</h2>
      </div>

      <div class="footer"></div>
    </main>
  </body>
</body>

</html>