{% extends "index.html" %}
{% block pagename %}
    <a href="feed">FEED</a>
    <a href="my_abominations">MY-ABOMINATIONS</a>
    <a href="create_abomination">CREATE-ABOMINATION</a>
    <a href="logout">LOGOUT</a>
    <text>my_abominations</text>
{% endblock %}
{% block funny_logo %} <h1>OH GOD WHAT HAVE I DONE</h1> {% endblock %}
{% block page_content %}
<div class="custom_links">
    <ol>
        {% for item in feed %}
            <li><a href="abomination/{{item[0]}}">{{item[2]}}</a></li>
        {% endfor %}
    </ol>
</div>
{% endblock %}
