{% extends "index.html" %}
{% block pagename %}
    <a href="/">MAIN</a>
    <a href="register">REGISTER</a>
    <a href="login">LOGIN</a>
    <text>index</text>
{% endblock %}
{% block funny_logo %} <h1>REGISTEREGISTERREGISTERREGISTERREGISTERREGISTERREGISTER</h1> {% endblock %}
{% block page_content %}
<form action="{{ url_for('register') }}" method="post">
<div class="form_list">
    <input type="text" placeholder="username" name="username" required />
    <br>
    <input type="password" placeholder="password" name="password" required />
    <br>
    <input type="submit" value="REGISTER">
</div>
</form>
{% endblock %}