<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/styles/unpleasant.css">
</head>

<body>
<div class="lincoln_navigator">
    {% block pagename %}
    <a href="/">MAIN</a>
    <a href="register">REGISTER</a>
    <a href="login">LOGIN</a>
    <text>index</text>
    {% endblock %}
    <text>UNPLEASANT SERVICE</text>
</div>

{% block funny_logo %}
<h1>UNPLEASANT SERVICE</h1><h1>UNPLEASANT SERVICE</h1><h1>UNPLEASANT SERVICE</h1><h1>UNPLEASANT SERVICE</h1><h1>UNPLEASANT SERVICE</h1><h1>UNPLEASANT SERVICE</h1><h1>UNPLEASANT SERVICE</h1><h1>UNPLEASANT SERVICE</h1><h1>UNPLEASANT SERVICE</h1>
{% endblock %}
{% block page_content %}{% endblock %}
</body>
</html>