@font-face {
  font-family: "mont";
  src: url("..\..\assets\fonts\Montserrat.ttf"), local("Montserrat");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "mont-it";
  src: local("Montserrat-italic"), url("../assets/fonts/Montserrat-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto", serif;
  src: local("Roboto"), url("../assets/fonts/Roboto.ttf");
  font-weight: 400;
  font-style: normal;
}
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #102B32;
  z-index: 1000;
}
.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-header__nav .feed {
  text-decoration: none;
  margin: 43px 60px;
  color: black;
  display: block;
  font-size: 25px;
  background-color: #AB60B0;
  border-radius: 13px;
  cursor: pointer;
  text-align: center;
  height: 50px;
  width: 110px;
  line-height: 50px;
  font-family: 'mont', sans-serif;
  font-weight: 500;
}
.page-header__nav .reg {
  text-decoration: none;
  color: black;
  font-size: 25px;
  background-color: #0079BF;
  border-radius: 13px;
  cursor: pointer;
  text-align: center;
  height: 50px;
  width: 300px;
  line-height: 50px;
  font-family: 'mont', sans-serif;
  font-weight: 500;
  margin-left: auto;
  margin-right: 50px;
}
.page-header__nav .log {
  text-decoration: none;
  margin: 43px 10px;
  color: black;
  font-size: 25px;
  background-color: #0079BF;
  border-radius: 13px;
  cursor: pointer;
  text-align: center;
  height: 50px;
  width: 110px;
  line-height: 50px;
  font-family: 'mont', sans-serif;
  font-weight: 500;
  margin-right: 70px;
}
.page-header__nav .exit {
  text-decoration: none;
  color: black;
  font-size: 25px;
  background-color: #0079BF;
  border-radius: 13px;
  cursor: pointer;
  text-align: center;
  height: 50px;
  width: 110px;
  line-height: 50px;
  font-family: 'mont', sans-serif;
  font-weight: 500;
  margin-left: auto;
  margin-right: 50px;
}
.page-header__nav .abomin {
  text-decoration: none;
  margin: 43px 60px;
  color: black;
  display: block;
  font-size: 25px;
  background-color: #AB60B0;
  border-radius: 13px;
  cursor: pointer;
  text-align: center;
  height: 50px;
  width: 190px;
  line-height: 50px;
  font-family: 'mont', sans-serif;
  font-weight: 500;
}
.page-header__nav .comment {
  text-decoration: none;
  margin: 0 auto;
  margin-right: 660px;
  color: black;
  display: block;
  font-size: 25px;
  background-color: #d9d9d9;
  border-radius: 13px;
  cursor: pointer;
  text-align: center;
  height: 50px;
  width: 250px;
  line-height: 50px;
  font-family: 'mont', sans-serif;
  font-weight: 500;
  padding-top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-header__container {
  height: 120px;
  min-width: 1414px;
  width: 100%;
  background-color: #102B32;
}
.feed nav-link-feed {
  text-decoration: none;
}
.page-header-create {
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #102B32;
  z-index: 1000;
  background-color: #102B32;
  padding: 0;
}
.main {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #B7B9C0;
  margin: 0 auto;
}
.body {
  margin: 0;
  padding: 0;
}
.header {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 100px;
}
.header__title {
  margin-top: 90px;
  padding-top: 50px;
  margin-bottom: 20px;
  color: #223F47;
  font-family: 'Roboto', italic;
  font-weight: 600;
  font-size: 60px;
}
.header__text {
  margin-top: 15px;
  padding-bottom: 30px;
  padding-top: 20px;
  color: #223F47;
  font-family: 'Roboto', italic;
  font-size: 40px;
}
.header__main {
  margin: 20px 0 30px;
  font-size: 200px;
  color: #ABE461;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.477);
  letter-spacing: 25px;
  font-family: "Allerta Stencil", sans-serif;
}
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  min-height: calc(100vh - 300px);
  background-color: #B7B9C0;
}
.about__rectangle {
  position: relative;
  width: 600px;
  height: 200px;
  background-color: #102B32;
  border-radius: 13px;
  margin-left: 300px;
  margin-top: 130px;
}
.about__rectangle::after {
  content: 'Делитесь своими идеями  на странице заметок';
  position: absolute;
  border-radius: 13px;
  top: 40px;
  left: 70px;
  width: 590px;
  height: 200px;
  background-color: #D9D9D9;
  color: #223F47;
  font-family: 'Roboto', italic;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-wrap: break-word;
}
.about__rectangle1 {
  position: relative;
  width: 600px;
  height: 200px;
  background-color: #102B32;
  border-radius: 13px;
  margin-left: auto;
  margin-right: 250px;
  margin-top: 130px;
  margin-bottom: 200px;
}
.about__rectangle1::after {
  content: 'Оставляйте комментарии к заметкам других людей';
  position: absolute;
  border-radius: 13px;
  top: 40px;
  left: -70px;
  width: 600px;
  height: 200px;
  background-color: #D9D9D9;
  color: #223F47;
  font-family: 'Roboto', italic;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-wrap: break-word;
}
.about__text {
  margin-top: 15px;
  margin-bottom: 60px;
  padding-top: 20px;
  color: #223F47;
  font-family: 'Roboto', italic;
  font-size: 40px;
  margin-bottom: 200px;
  background-color: #B7B9C0;
}
.footer {
  background-color: #223F47;
  height: 300px;
}
.reg {
  height: 100vh;
  background-color: #B7B9C0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}
.form__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.field__input {
  margin-bottom: 25px;
  background-color: #D9D9D9;
  outline: none;
  border-radius: 13px;
  height: 39px;
  width: 700px;
  border: 0;
  cursor: pointer;
  color: #102B32;
  font-size: 20px;
  font-family: 'mont', sans-serif;
}
.field__submit {
  background-color: #102B32;
  color: #D9D9D9;
  border-radius: 13px;
  cursor: pointer;
  height: 39px;
  width: 300px;
  border: 0;
  font-size: 20px;
  font-family: 'mont', sans-serif;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.body {
  margin: 0;
  padding: 0;
}
.create {
  top: 0;
  margin-left: 20px;
  width: 100%;
  height: 100vh;
  padding: 0;
  background-color: #B7B9C0;
  margin: 0 auto;
}
.create__list {
  margin-left: 130px;
}
.create__words {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}
.create__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}
.create__title {
  padding-right: 10px;
}
.create__check {
  margin-left: 40px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.words__title {
  margin-top: 15px;
  padding-top: 20px;
  color: #223F47;
  font-family: 'Roboto', italic;
  font-size: 40px;
}
.words__text {
  margin-top: 15px;
  color: #223F47;
  font-family: 'Roboto', italic;
  font-size: 33px;
  margin-left: 1150px;
}
.create__select {
  background-color: #D9D9D9;
  border-radius: 13px;
  height: 39px;
  width: 500px;
  text-align: left;
  outline: none;
  border: 0;
  color: #757575;
  font-size: 20px;
  font-family: 'mont', sans-serif;
  cursor: pointer;
  margin-bottom: 25px;
}
.check__label {
  color: #223F47;
  font-family: 'Roboto', italic;
  font-size: 30px;
  font-weight: 600;
}
.check__input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #0079bf;
  width: 30px;
  height: 30px;
  margin-left: 30px;
  padding-top: 5px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.check__input:checked::before {
  content: '\2713';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}
.create__submit {
  margin-left: auto;
  margin-right: 50px;
  text-decoration: none;
  color: black;
  display: block;
  font-size: 25px;
  background-color: #AB60B0;
  border-radius: 13px;
  cursor: pointer;
  text-align: center;
  height: 50px;
  width: 130px;
  line-height: 50px;
  font-family: 'mont', sans-serif;
  font-weight: 500;
  border: 0;
}
.body {
  margin: 0;
  padding: 0;
}
.main {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 100px 0 0 0;
  background-color: #B7B9C0;
  margin: 0 auto;
}
.main .feed {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
}
.main .feed__title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 30px;
  color: #223F47;
  font-family: 'Roboto', italic;
  font-size: 50px;
}
.main .abomination {
  counter-reset: link-counter;
}
.main .abomination__container {
  display: block;
  color: #223F47;
  font-family: 'Roboto', italic;
  font-size: 30px;
  margin-left: 50px;
  font-weight: 600;
}
.body {
  margin: 0;
  padding: 0;
}
.comment {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 50px 0 0 0;
  background-color: #B7B9C0;
  margin: 0 auto;
}
.comment__sent {
  margin-left: auto;
  margin-right: 50px;
  margin-top: -55px;
  text-decoration: none;
  color: black;
  display: block;
  font-size: 25px;
  font-weight: 600;
  background-color: #AB60B0;
  border-radius: 13px;
  cursor: pointer;
  text-align: center;
  height: 50px;
  width: 150px;
  line-height: 50px;
  font-family: 'mont', sans-serif;
  font-weight: 500;
  border: 0;
}
.field__spam {
  display: block;
  margin-left: 55px;
  margin-bottom: 15px;
  font-size: 30px;
  color: #223f47;
  font-weight: 550;
}
.field__textarea {
  margin-left: 50px;
  height: 200px;
  width: 900px;
  background-color: #d9d9d9;
  border-radius: 13px;
  color: #223f47;
  font-size: 20px;
  border: none;
  outline: none;
}
.note-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.note-title {
  color: #223f47;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: -5px;
}
.note-head {
  color: #223f47;
  font-size: 25px;
  margin-bottom: -10px;
}
.note-eye {
  color: #223f47;
  font-size: 25px;
  margin-bottom: -10px;
}
.note-body {
  color: #223f47;
  font-size: 25px;
  margin-bottom: -10px;
}
.note-arm {
  color: #223f47;
  font-size: 25px;
  margin-bottom: -10px;
}
.note-leg {
  color: #223f47;
  font-size: 25px;
}
.body {
  margin: 0;
  padding: 0;
  overflow: auto;
}
.main {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #B7B9C0;
  margin: 0 auto;
  padding-top: 0;
}
.abomination {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #B7B9C0;
  margin-top: 120px;
  margin-bottom: 0;
}
.abomination__title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  color: #223F47;
  font-family: 'Roboto', italic;
  font-size: 50px;
  padding-bottom: 73px;
}
